body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    width: 100%;
}

/* Header */

.header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    flex-shrink: 0;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    margin-right: 76px;
}

.logo-studio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-link-list {
    color: #434455;
    display: flex;
    gap: 20px;
    letter-spacing: 0.02em;
    padding-right: 40px;
}

.header-link-list:hover,
.header-link-list:focus {
    color: #404bbf;
}

.current {
    color: var(--ocean, #404BBF);
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-item {
    color: #2E2F42;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-item:hover,
.header-link-item:focus {
    color: #404BBF;
}

.current::after {
    content: "";
    width: 48px;
    height: 4px;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background: var(--ocean, #404BBF);
    position: absolute;
}

.header-address {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
}

.header-container-address {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-address-mail {
    color: #434455;
    text-decoration: none;
    display: flex;
}

.header-address-mail:hover,
.header-address-mail:focus {
    color: #404bbf;
}

.header-link-address {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-address:hover,
.header-link-address:focus {
    color: #404bbf
}

.header-address-tel {
    color: #434455;
    display: flex;
}

.header-address-tel:hover,
.header-address-tell:focus {
    color: #404bbf;
}

/* Section Hero */

.hero-block {
    background: #2E2F42;
    flex-shrink: 0;
    display: flex;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/our-hero/people-office.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-service {
    color: #FFFFFF;
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    gap: 10px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
    background-color: #404BBF
}

/* section advantages */

.none-name {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.none-title-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.none-title-item {
    flex-basis: calc((100%-72px)/4);
}

.icon-title-text {
    fill: #2E2F42;
}

.none-title-icon-svg {
    border-radius: 4px;
    border: 1px solid var(--lightslate, #8E8F99);
    background: var(--cloud, #F4F4FD);
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.advantages {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    width: 264px;
    margin-bottom: 8px;
}

.advantages-text {
    color: #434455;
    font-family: Roboto;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    width: 264px;
}

/* section team */

.our-team-section {
    background: #F4F4FD;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.our-team-table {
    color: #2E2F42;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
}

.our-team-item {
    background-color: #FFFFFF;
    flex-basis: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-container-text {
    display: block;
    gap: 8px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.our-team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}

.our-team-job {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}

.our-team-social-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.our-team-social-icon .our-team-social-list {
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}

.our-team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link:hover,
.our-team-social-link:focus {
    background-color: #404bbf;
}

.our-team-icon-svg {
    fill: #f4f4fd;
}

/* section portfolio */

.our-portfolio-section {
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.paragraph-hidden {
    background: var(--iris, #4D5AE5);
    position: absolute;
    padding: 40px 32px;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--cloud, #F4F4FD);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-portfolio-item:hover .paragraph-hidden {
    transform: translateY(0%);
}

.our-portfolio-block {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.our-portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.our-portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-portfolio-item {
    width: calc((100% - 48px)/ 3);
    gap: 32px;
    flex-shrink: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-image {
    position: relative;
    overflow: hidden;
}

.our-portfolio-container-text {
    display: block;
    gap: 8px;
    align-items: center;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.our-portfolio-app {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.portfolio-field-of-activity {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-start;
}

/* Footer */

.footer {
    background-color: #2E2F42;
    padding: 100px 0 100px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.footer-web {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-studio {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    max-width: 264px;
    justify-content: flex-start;
}

.footer-title {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    line-height: 1.5
}

.footer-social-icon .footer-social-list {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icon {
    display: flex;
    gap: 16px;
}


.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.container-footer-logotype {
    margin-left: 0 auto;
    margin-right: 120px
}

.footer-social-link {
    border-radius: 50%;
    background-color: #4D5AE5;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon-svg {
    fill: #f4f4fd;
}